.shelf-container {
    width: 1500px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 20px;
    overflow: auto;
    align-items: center;
}

.shelf-container .shelf {
    height: 200px;
}