@import "../../../Root.css";

/*sku form*/
.container-sku-form{
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 520px;
    margin: 0 auto;
}

.container-sku-form .modal-close{
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
}

.container-sku-form .modal-close:hover{
    color: #ff0000;
}

.sku-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sku-form-title{
    font-size: 24px;
    color: var(--primary-text-color);
    text-align: center;
}

.sku-form label {
    display: flex;
    flex-direction: column;
}

.sku-form input {
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.submit-button {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-text-color);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2980B9;
}
