.modal-product-detail,
.product-details-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 580px;
}

.product-details-container {
    min-width: 650px;
}

.group-deminsion-attribute {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}