@import "../../../Root.css";

/*overlay form*/
.supplier-management-overlay {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.supplier-management-overlay .modal-close {
    position: absolute;
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
}

.supplier-management-overlay .modal-close:hover {
    color: #ff0000;
}

.supplier-management-overlay-title {
    color: #333333;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.supplier-management-overlay-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
}

.supplier-management-overlay-input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.supplier-management-overlay-add-button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.supplier-management-overlay-add-button:hover {
    background-color: #2980b9;
}
