/* form edit user*/
.user-card {
    background-color: #f8f9fa;
}

.basic-info,
.personal-info,
.account-info {
    background-color: #fff;
}

.shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-light {
    border-radius: 50%;
    padding: 8px;
}

h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

/* form register */
.container {
    max-width: 800px;
}

.shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2C3E50;
}

button {
    font-size: 18px;
}