@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

/* content global */
.main-content {
    position: relative;
    width: calc(100% - 250px);
    min-width: 1500px;
    height: 100vh;
    padding: 20px 30px;
    margin-left: 250px;
    background-color: #ffffff;
    color: #333333;
    overflow-x: auto;
}

/* content header from container by tag  */
.content-header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.content-header-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* CSS cho nút ở phần content-header-right */
.content-header-right .add-button {
    padding: 12px 20px;
    background: linear-gradient(135deg, #3498db 50%, #2980b9 50%);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-header-right .add-button:hover {
    background: linear-gradient(135deg, #2980b9 50%, #1f6f9f 50%);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content-header-right .add-button:active {
    background: linear-gradient(135deg, #1f6f9f 50%, #174a6b 50%);
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*modal*/
.global-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    min-width: 450px;
}

.global-model .model-buttons {
    display: flex;
    gap: 40px;
}

/*table*/
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}