.container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 250px);
  min-width: 1200px;
  height: 100%;
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  overflow-x: auto;
  padding: 50px 0px;
  z-index: 2000;
}

.container-overlay.disabled-padding {
  padding: 0;
}

.container-overlay.fullscreen {
  width: 100%;
  margin-left: 0;
}