@import "../../../Root.css";

.container-user-management {
    width: calc(100% - 250px);
    height: 100vh;
    padding: 20px;
    margin-left: 250px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    border: 1px solid var(--border-color);
    padding: 12px;
    text-align: left;
}

/* Ensure the STT column is narrower */
.user-table th:first-child,
.user-table td:first-child {
    width: 5%; /* Adjust width for STT column */
}

.user-table th:nth-child(2),
.user-table td:nth-child(2) {
    width: 25%; /* Adjust width for Username column */
}

.user-table th {
    background-color: var(--header-footer-background-color);
    color: var(--primary-text-color);
}

.user-table td {
    color: var(--secondary-text-color);
}

.edit-button, .delete-button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 8px;
}

.edit-button {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-text-color);
}

.edit-button:hover {
    background-color: var(--accent-color);
}

.delete-button {
    background-color: #E74C3C; /* Red color for delete */
    color: #FFFFFF;
}

.delete-button:hover {
    background-color: #C0392B; /* Darker red on hover */
}

.add-user-button {
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.add-user-button:hover {
    background-color: var(--accent-color);
}

